<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> - Kép</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<base href="kep" />
		<title>Intranet</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../../public/css/style.css">
		<script src="../../public/js/jquery-1.8.3.min.js"></script>
		<script src="../../public/js/roulette.js"></script>
	</head>

	<body>
		<header>
<nav>

	<ul>
		<li><a href="home">Home</a></li>
		<li><a href="tutorial">Tutorial</a></li>
		<li><a href="pool/create">Kepezz</a></li>
		<li><a href="user/listing">listing</a></li>

			<li><a href="user/login">login</a></li>
		<li><a href="user/signin">signin</a></li>

		
	</ul>

</nav>
</header>
		
<div id="queryResult">
<section class="resultSelection"><h1>trop</h1>
	<section class="container">
		<button class="actionRoulette monte">˄</button>
		<div id="tmasque" class="masque"></div>
		<div class="resultByWord">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/230290/screenshots/1090736/birds_teaser.png">
			<img class="item selected"src="//dribbble.s3.amazonaws.com/users/33376/screenshots/1089916/tomato_teaser.png">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/121508/screenshots/1089249/styled_raigino_teaser.jpg">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/5990/screenshots/1088939/l_teaser.png">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/28943/screenshots/1088629/bounce-plugin_teaser.png">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/110764/screenshots/1088517/drewrender_teaser.jpg">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/1935/screenshots/1088351/ns_dribbble_teaser.jpg">
		</div>
		<div id="bmasque" class="masque"></div>
		<button class="actionRoulette descend">˅</button>
		</section>
	</section>
	<section class="resultSelection">
			<h1>cool</h1>
			
			<section class="container">
				<button class="actionRoulette monte">˄</button>
				<div class="resultByWord">
					<img class="item"src="//dribbble.s3.amazonaws.com/users/230290/screenshots/1090736/birds_teaser.png">
			<img class="item selected"src="//dribbble.s3.amazonaws.com/users/33376/screenshots/1089916/tomato_teaser.png">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/121508/screenshots/1089249/styled_raigino_teaser.jpg">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/5990/screenshots/1088939/l_teaser.png">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/28943/screenshots/1088629/bounce-plugin_teaser.png">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/110764/screenshots/1088517/drewrender_teaser.jpg">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/1935/screenshots/1088351/ns_dribbble_teaser.jpg">
			</div>
		<button class="actionRoulette descend">˅</button>
	</section>
</section>
</div>
	<button id="kepezz">Kepezz</button>
	</body>
	<script type="text/javascript">
		var baseUrl = "http://<?php echo F3::hive()['HEADERS']['Host'].F3::hive()['BASE']; ?>",
			rebusId = "<?php echo F3::get('PARAMS.id'); ?>";
		console.log(baseUrl);
	</script>
</html>