<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> - Kép</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<base href="kep" />
		<title>Intranet</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../../public/css/style.css">
		<script src="../../public/js/jquery-1.8.3.min.js"></script>
		<script src="../../public/js/roulette.js"></script>
	</head>

	<body>
		<header>
<nav>

	<ul>
		<li><a href="home">Home</a></li>
		<li><a href="tutorial">Tutorial</a></li>
		<li><a href="pool/create">Kepezz</a></li>
		<li><a href="user/listing">listing</a></li>

			<li><a href="user/login">login</a></li>
		<li><a href="user/signin">signin</a></li>

		
	</ul>

</nav>
</header>
		
	<div id="queryResult">
<section class="resultSelection"><h1>trop</h1>
	<section class="container">
		<button class="actionRoulette monte">UP</button>
		<div id="tmasque" class="masque"></div>
		<div class="resultByWord">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/292532/screenshots/969249/avatar_teaser.png">
			<img class="item selected"src="http://media-cache-ak1.pinimg.com/192x/16/39/3e/16393e03847d1be9688940d79bea67e2.jpg">
			<img class="item"src="http://media-cache-ak0.pinimg.com/192x/cd/60/7a/cd607a7dff89ff6f8f8c9050a83651aa.jpg">
			<img class="item"src="http://media-cache-ec3.pinimg.com/192x/9a/b4/d2/9ab4d224cacae49e50f8fca7f3505266.jpg">
			<img class="item"src="http://media-cache-ak0.pinimg.com/192x/12/af/b8/12afb8223232d0597d91f18158231696.jpg">
			<img class="item"src="http://media-cache-ec3.pinimg.com/192x/90/b4/65/90b465bd63f926aa0eaa7bcb6428e63a.jpg">
			<img class="item"src="http://media-cache-ec3.pinimg.com/192x/5b/dd/64/5bdd64591617951b7228ed0c5b4a1ac6.jpg">
			<img class="item"src="http://media-cache-ak0.pinimg.com/192x/e6/f5/e0/e6f5e06ad81b8c0c10bd55c1d7ae43ee.jpg">
			<img class="item"src="http://media-cache-ec3.pinimg.com/192x/2a/5e/ef/2a5eef78292c84345ca1c22642e72412.jpg">
			<img class="item"src="http://media-cache-ec4.pinimg.com/192x/07/c9/23/07c92357aab31af4f1efcae1f6e53830.jpg">
			<img class="item"src="http://media-cache-ak1.pinimg.com/192x/10/f9/1c/10f91c257e3f2f54fb02c8e2caacf972.jpg">
			<img class="item"src="http://media-cache-is0.pinimg.com/192x/c8/a0/0d/c8a00d65a16ed66bb7665e86ec078e12.jpg">
			<img class="item"src="http://media-cache-is0.pinimg.com/192x/84/cf/ee/84cfee0feba6875dfdd19da3f98c2fda.jpg">
			<img class="item"src="http://media-cache-ec4.pinimg.com/192x/9c/1a/02/9c1a02042d41371ce507778bf9d2f52a.jpg">
			<img class="item"src="http://media-cache-ak0.pinimg.com/192x/fd/bc/3d/fdbc3d1cbf37374556a3d384381eefd3.jpg">
			<img class="item"src="http://media-cache-ak0.pinimg.com/192x/ca/40/b5/ca40b577a6b71cc73c869e38106cb4ee.jpg">
			<img class="item"src="http://media-cache-is0.pinimg.com/192x/19/4e/ac/194eace11fca20b5c5e76ebdc35970f6.jpg">
			<img class="item"src="http://media-cache-ec3.pinimg.com/192x/8d/3b/38/8d3b38e1c225fa7e0a4b6b382ab0edd8.jpg">
			<img class="item"src="http://media-cache-ec2.pinimg.com/192x/27/ba/4a/27ba4af73b06725554762e593c2d0e52.jpg">
			<img class="item"src="http://media-cache-ec4.pinimg.com/192x/50/6b/4f/506b4f2b1556534a288927cea7bb5a42.jpg">
			<img class="item"src="http://media-cache-ak1.pinimg.com/192x/25/1c/93/251c9322d564ab585ced2b88f2515064.jpg">
			<img class="item"src="http://media-cache-ak1.pinimg.com/192x/4f/d2/9f/4fd29f6c5adcda2c436073fde6f5694e.jpg">
			<img class="item"src="http://media-cache-is0.pinimg.com/192x/66/ec/ec/66ecec791363e7121e59c0ad71a3e2c9.jpg">
			<img class="item"src="http://media-cache-ak1.pinimg.com/192x/49/be/2b/49be2bea5b4194b4a9a01f6bc8045caa.jpg">
			<img class="item"src="http://media-cache-ak1.pinimg.com/192x/18/53/e6/1853e60fe9688f80b812c4aebeb0be4e.jpg">
			<img class="item"src="http://media-cache-ak0.pinimg.com/192x/1d/8c/7b/1d8c7b96cdbb33fa6a1c3650d7cc46b9.jpg">
			<img class="item"src="http://media-cache-ak1.pinimg.com/192x/f8/f0/f8/f8f0f8d1487dd7d33f6b9167d4b1ea8a.jpg">
			<img class="item"src="http://media-cache-ak1.pinimg.com/192x/ac/c6/ac/acc6ace08e0e29b00af2c78edb2f19ca.jpg">
			<img class="item"src="http://media-cache-is0.pinimg.com/192x/35/44/f5/3544f59161ed631dbc530520bcac451e.jpg">
			<img class="item"src="http://media-cache-ec4.pinimg.com/192x/64/54/98/645498686aa70985a6f87ea7e278da22.jpg">
			<img class="item"src="http://media-cache-ak1.pinimg.com/192x/20/53/94/2053944229797881e04a9bf979ee4662.jpg">
			<img class="item"src="http://media-cache-ec2.pinimg.com/192x/95/e6/06/95e606073b451b71a0ab175e2ed6692e.jpg">
		</div>
		<div id="bmasque" class="masque"></div>
		<button class="actionRoulette descend">DOWN</button>
		</section>
	</section>
	<section class="resultSelection">
			<h1>cool</h1>
			
			<section class="container">
				<button class="actionRoulette monte">UP</button>
				<div class="resultByWord">
					<img class="item"src="//dribbble.s3.amazonaws.com/users/230290/screenshots/1090736/birds_teaser.png">
			<img class="item selected"src="//dribbble.s3.amazonaws.com/users/33376/screenshots/1089916/tomato_teaser.png">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/121508/screenshots/1089249/styled_raigino_teaser.jpg">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/5990/screenshots/1088939/l_teaser.png">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/28943/screenshots/1088629/bounce-plugin_teaser.png">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/110764/screenshots/1088517/drewrender_teaser.jpg">
			<img class="item"src="//dribbble.s3.amazonaws.com/users/1935/screenshots/1088351/ns_dribbble_teaser.jpg">
			</div>
		<button class="actionRoulette descend">DOWN</button>
	</section>
	</section>
</div>
		<footer>

	<code>Page execut&eacutee en 3588,39 ms / M&eacutemoire utilis&eacute: 1048,6 Ko</code>
	</br>
	</br>
	<pre style="text-align: left;"></pre>
<pre class='xdebug-var-dump' dir='ltr'>
<b>array</b> <i>(size=0)</i>
  <i><font color='#888a85'>empty</font></i>
</pre></footer>

	</body>
</html>